
@{
    ViewBag.Title = "vListarTiendax";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Views/vListarTienda.js"></script>
<link href="~/Content/vListarTienda.css" rel="stylesheet"/>

<h2>Lista de tiendas</h2>