.h2Titulo{
    text-align: center;
}

.divZonaIzquierda {
    margin-left: 5%;
    padding: 2%;
    height: 15%;
    width: 40%;
    display: inline-block;
}

.divZonaDerecha {
    margin-left: 5%;
    padding: 2%;
    width: 40%;
    height: 15%;
    display: inline-block;
}

.divZonaAbajo {
    margin-bottom: 5%;
    margin-left: 45%;
    margin-right: 45%;
}

#frmInventario{
    width: 100%;
}

.oculto {
    display: none;
}